.App {
  text-align: center;
  background:whitesmoke;
  width: 85%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
 
.home{
 
  /* border: 1px solid black ; */
 
  box-shadow: 10px 10px 25px rgb(216, 215, 215),
  -10px -10px 25px rgb(214, 213, 213)
  ;
}
.Firstpage{
  height: 32rem;
  /* border: 1px solid black ; */
  border-radius: 2rem;
  box-shadow: 10px 10px 25px rgb(216, 215, 215),
  -10px -10px 25px rgb(214, 213, 213)
  ;
}
.Aboutpage{
  height: 32rem;
  /* border: 1px solid black ; */
  border-radius: 2rem;
  box-shadow: 10px 10px 25px rgb(216, 215, 215),
  -10px -10px 25px rgb(214, 213, 213)
  ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutmee{
  width: 95%;
  height: 95%;
 
  
}
.aboutfirst{
  width: 100% !important;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

 }
 .aboutsecond{
  width: 100% !important;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
 }
 .skillspage{
  height: 30rem;
 }
.face1{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
   
  /* background-image: url(./20601257.jpg); */
  background: linear-gradient(115deg, #a7eafc, #ccc7ff, #3147eb);
  object-fit: fill;
   
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
  width: 4rem;
  height: 6rem;
  position: absolute;
  transform: translateZ(1rem)rotateX(20deg);
  transform-origin: top;
 
 
}
 
.face2{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 
  background: linear-gradient(115deg, #a7eafc, #ccc7ff, #3147eb);
   
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
  width: 4rem;
  height: 6rem;
  position: absolute;
  transform: translateZ(-1rem)rotateX(340deg);
  transform-origin: top;
 
   
}
 
.face3{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
   
   background: #000000;
   
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
  width: 4rem;
  height: 6rem;
  position: absolute;
  transform: translateX(1rem)rotateY(90deg)rotateX(20deg);
  transform-origin: top;
  
 
}
 
.face4{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 
   background: #000000;
   
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
  width: 4rem;
  height: 6rem;
  position: absolute;
  transform: translateX(-1rem)rotateY(90deg)rotateX(340deg);
  transform-origin: top;
 
  
}
 
.face5{
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background: #000000;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 12rem;
 width: 4rem;
 height: 6rem;
 position: absolute;
 transform: translateZ(0rem)rotateX(30deg);
 transform-origin: bottom;
}
.face6{
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background: #000000;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 12rem;
 width: 4rem;
 height: 6rem;
 position: absolute;
 transform: translateZ(0rem)rotateX(330deg);
 transform-origin: bottom;
}
.face7{
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background: linear-gradient(115deg, #a7eafc, #ccc7ff, #3147eb);
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 12rem;
 width: 4rem;
 height: 6rem;
 position: absolute;
 transform: translateX(0rem)rotateY(90deg)rotateX(30deg);
 transform-origin: bottom;
}
.face8{
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  background: linear-gradient(115deg, #a7eafc, #ccc7ff, #3147eb);
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 12rem;
 width: 4rem;
 height: 6rem;
 position: absolute;
 transform: translateX(0rem)rotateY(90deg)rotateX(330deg);
 transform-origin: bottom;
}
.icon2{
  width: 4rem;
  height: 6rem;
  /* border: 2px solid black ; */
  position: relative;
  transform-style: preserve-3d;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
  transform: rotateY(1deg);
  animation: draw 5s infinite linear;
  animation-delay: 5s;
  perspective: 1000px;

}
@keyframes draw {
  from{
    transform:rotateY(0deg);
  }
  to{
    transform:rotateY(360deg);
  }
  
}
.icon{
  transform-style: preserve-3d;
  animation: drew 5s infinite linear;
  animation-delay: 2s;
  perspective: 1000px;
}
@keyframes drew {
  from{
    transform:rotateX(0deg);
  }
  to{
    transform:rotateX(360deg);
  }
}
 
 
.icon1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  animation-delay: 5s;
  perspective: 1000px;
}
 
 

.box1{
  display: flex;
  align-items: center;
  justify-content: center;
 
  

}
.logo{
  height: 33rem;
  /* border: 1px solid black ; */
  border-radius: 2rem;
  box-shadow: 10px 10px 25px rgb(216, 215, 215),
  -10px -10px 25px rgb(214, 213, 213)
  ;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
span{
  font-family: cursive;
  font-weight: 600;
  /* -webkit-text-stroke: #000000 4px;
  -webkit-text-fill-color: transparent; */
}
.nameer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 4.5rem;
  font-family: cursive;
  font-weight: 300;

 
}
@media screen and (max-width: 480px) {
   .nameer{
    font-size: 2.6rem;
   }
   .card{
    display: inline;
   }
 
    .maincontainer{
      width: 90% !important;
      display: none !important;
    }
    .topnavbar{
      top: 6%;
      left:85% !important;
    }
    .annie{
      display: none;
    }
    .mainbar{
      border: 0px solid black ;
      transform: scale(0.8) translateY(-2rem) translateX(-2rem);
    }
    .home{
     margin-left: 3rem;

    }
    .wrap{
      display: none !important;
    }
    .name{
      width: 100% !important;
    }
    .email{
      width: 100% !important; 
    }
    .message{
      width: 100% !important; 
    }
    /* .formdetails{
      display: flex;

    } */
     .Skillspage{
      display: flex;
      align-items: center;
      justify-content: center;gap: 10px;
      flex-wrap: wrap;
      flex-direction:row!important;

     }
     .onehalf {
      width: 98% !important;
      height: 50% !important;
     }
     .twohalf{
      width: 98% !important;
      height: 50% !important;
     }
     .wall{
      transform: scale(0.5)rotateY(15deg)rotateX(10deg)translateX(-70px) !important;
      transform-style: preserve-3d;
      
    }
    .wall:hover{
      box-shadow: 15px 15px 100px;
      transform:scale(0.59) translateZ(-2px)rotateY(15deg)rotateX(10deg)!important;
    }
    .wallheader{
      font-family: cursive;
      font-size: 20px;
      width: 4rem;
      position: absolute;
      left:76%;
      top:20% !important;
    }
    .aboutmee{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column !important;
      overflow: scroll;
      
 
    }
    .order3{
      display: none !important;
    }
    .order1{
      width:100% !important;
    }
    .order2{
      width:100% !important;
    }
    #namedetail{
      width:17rem;
    }

  
  
}
.card{
  width:22rem;
  height:90%;
  /* border:1px solid black; */
  margin-left:2rem;
  border-radius: 2rem;
  transform-style: preserve-3d;
  box-sizing: border-box;
  background: #f7f7f7;
 box-shadow: -10px -10px 10px #4f4e4e,
               20px 20px 10px #ffffff
               ;
               backface-visibility: hidden;
}
.topnavbar{
  position: fixed !important;
  top: 5%;
  left: 90%;
  display: inline;
  border:none;
  
  }
  .mainbar_item{
    background: #000;
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    border-radius: 4rem;
  } 
 
  .list-group-item:first-child{
    border-radius: 2rem !important;
  }
  .list-group-item + .list-group-item{
    border-radius: 2rem !important;
  }
 
  .details{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black ; */
    border-radius: 2rem;
    background-image: url(./props/22236591904862046.jpg);
    background-position: center ;
    /* background-image: linear-gradient(180deg, #005b32 0%, #023757 100%); */
    box-shadow: -5px -5px 70px rgb(133, 116, 116);

     
  }
  .formal{
    width:95%;
    height: 90%;
    /* border: 1px solid black ; */
    border-radius: 2rem; 
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
  
    color: #ffffff;
    
  }
 .name{
 
 
  width: 25rem;
  padding: 0.4rem;
 
 
 }
 
 .email{
  
 
   
  width: 25rem;
  padding: 0.4rem;
 
 }

 .message{
 
  width: 25rem;
  padding: 0.4rem;
  
 
 }
 .message~input{
  color: #000;
 }
 .glass{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
 }
 .formheader {
  margin-top: 01rem;
  font-family: cursive;
 }
 .backcard{
  border-radius: 2rem !important;
  /* box-shadow: 10px 10px 45px rgb(113, 113, 113) ; */
  box-shadow: -10px -10px 5px #4f4e4e,
               20px 20px 10px #ffffff
               ;
 }
 .frontcard{
  /* box-shadow: 10px 10px 500px black ; */
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  /* background-image: url(./props//frontcarddpp.jpg); */
  background: #000;
 }
 .maincontainer{
  background: #000;
  opacity: 0.8;
  width: 58%;
  height: 90%;
  border-radius: 2rem;
  transform: translateX(1rem)translateY(0rem);
  /* box-shadow: 10px 10px 45px black ; */
  display: inline ;
 }
 .glasses{
  width: 95%;
  height: 65%;
  border-radius: 2rem;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

   
 }.threebtn{
  transform: translateY(3.4rem);
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .firststep{
  width: 100%;
  height: 100px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateY(0.7rem);
 }
 .thirdbtn{
  width: 75%;
  height: 100px;
  background: transparent;
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;
  transition: 2s all ease-in-out;
 }
 .firstbtn,.secondbtn{
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;
  width:45%;
  height: 65%;
 
 }
 
 
 
.picglass{
  display: flex;
  align-items: center;
  justify-content: center;
   
  width: 11rem;
}
.imgcover{
  width: 65%;
  height: 17rem;
  background: #000;
  /* border: 2px solid white; */
  border-radius: 2rem;
  position: absolute;
  transform: translateY(-10rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgcontainer{
   width: 80%;
   height: 90%;
   padding: 1rem ;
   transform-style: preserve-3d;
   display: flex;
   align-items: center;
   justify-content: center;
   backface-visibility: visible;
  transform: rotateY(0deg);
  position: relative;
   transition: 3s  all ease;
 
}
.onehalf{
  background-image:linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
}
 

 
.dpimg{
  transform: scaleX(0.4) scaleY(0.40);
  border-radius: 4rem;
  position: absolute;
  backface-visibility: hidden;

 }
 .hideimg{
  transform: scaleX(0.32)scaleY(0.31)translateX(0rem)rotateY(180deg);
 
  border-radius: 4.1rem;
  backface-visibility: hidden;  
 
 }
.imgcontainer:hover{
  transform: rotateY(180deg);
}
 
  
.annie{
  position: relative;
  width:100%;
  height: 90%;
  /* border: 1px solid rgb(0, 0, 0) ; */
  background: #cbcbcb;
  border-radius: 2rem 0rem 0rem 2rem;

}
 
.wrap{
  display: block;
  transform: translateY(8px);
}
/* .advance{
  width: auto;
  height: 4rem;
  background: #000;
  border: #000 1px solid;
  transform-style: preserve-3d;
  transform: rotateX(0deg)rotateY(0deg)rotateZ(0deg)translateX(0px)translateY(0px)translateZ(0px);
} */
.stage7{
  width: 100%;
  height: 4rem;
  background: #000;
  border: #000 1px solid;
  gap:15px;
  transform-style: preserve-3d;
  /* transform: rotateX(0deg)rotateX(-90deg)rotateZ(0deg)translateX(0px)translateY(0deg)translateZ(0deg); */
  transform: rotateX(0deg) rotateY(0deg) translateY(0px) !important;
}
.html{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  transform:rotateZ(0deg) rotateY(-90deg)rotateX(0deg)translateX(0rem)translateY(0px)translateZ(0rem);
  transition: 1s all ease-in-out;
  z-index: 100;
}
.html:hover{
  transform:translateZ(4rem)rotateY(-90deg);
}
.css{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s all ease-in-out;
  z-index: 99;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0rem) translateZ(0rem);
}
.css:hover{
  transform:translateZ(4rem)rotateY(-90deg);
}
.javascript{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px);
}
.javascript:hover{
  transform:translateZ(4rem)rotateY(-90deg);

}
.stage5{
   transform-style: preserve-3d;
}
.bootstrap{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.bootstrap:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.tailwind{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.tailwind:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.git{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.git:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.framer{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.framer:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.stage4{
  transform-style: preserve-3d;
}
.three{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.three:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.stage3{
  transform-style: preserve-3d;
}
.react{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.react:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;
   

}
.stage1{
  transform-style: preserve-3d;
}
.express{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.express:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.mongodb{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.mongodb:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.sql{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.sql:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}
.stage2{
  transform-style: preserve-3d;
}
.node{
  width: 9rem;
  height: 4rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 98;
  transition: 1s all ease-in-out;
  transform: rotateZ(0deg) rotateY(-90deg) rotateX(0deg) translateX(0px) translateY(0px) translateZ(-0px) !important;
}
.node:hover{
  transform:translateZ(4rem)rotateY(-90deg) !important;

}

 
.box_1{
  width: 100%;
  height: 100%;
  background: green;
  position: absolute;
  transform: translateY(-2rem)rotateX(90deg)rotateZ(-90deg);
   
}
.box2{
  width: 100%;
  height: 100%;
  background: rgb(145, 15, 215);
  position: absolute;
  transform: translateY(2rem)rotateX(-90deg)rotateZ(90deg);
}
.box3{
  width: 100%;
  height: 100%;
  /* background: rgb(143, 255, 6); */
   
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
  /* background: transparent; */
  
  position: absolute;
  transform: translateX(2rem)rotateY(90deg);
   
}
.box3:hover{
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

.box4{
  width: 100%;
  height: 100%;
  background: rgb(3, 139, 89);
  position: absolute;
  transform: translateX(-2rem)rotateY(-90deg);
}
.box5{
  width: 45%;
  height: 100%;
  background: rgb(28, 30, 61);
  color: #ffffff;
  position: absolute;
  transform: translateZ(4.5rem)translateX(2.5rem);
 
}
.box6{
  width: 45%;
  height: 100%;
  background: rgb(215, 15, 15);
  position: absolute;
  transform: translateZ(-4.5rem)translateX(2.5rem);
}
.wall{
  transform: scale(0.9)rotateY(15deg)rotateX(10deg)translateY(2rem);
  transform-style: preserve-3d;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  transition: 1s all ease-in-out;
  /* background-image: url(./props/wallbgggg.jpg);
  background-position: center;
  background-size: contain; */

  
}
.wall:hover{
  box-shadow: 15px 15px 100px;
  transform: translateZ(-5px)rotateY(15deg)rotateX(10deg);
}
.wallheader{
  font-family: cursive;
 
  position: absolute;
   top: 3%;
}
.twohalf{
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width:thin;
  overflow-x: none;
}
 
 /* .carddescreption{
  position: absolute;
  border-radius: 1rem;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  color:black;
  
 } */
 
 .projcontainer,.twohalf{
  background: pink;
  scrollbar-width: none;
  scroll-behavior: smooth;
 }
 .Cv:hover{
  transform: scale(1.2);
 }
 .hireme:hover{
  transform: scale(1.2);
 }
.Cv{
  color: #000;
  outline: none !important;
}
 .hireme{
  outline: none;
 }
 .btn{
  outline: none;
 }
 .aboutfirst{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

 }
 #sidedp{
  background:transparent;
  width: 120%;
  transform: translateX(0rem)translateY(0rem);

 }
 .portrait{
  width: 100% !important;
  height: 100% !important;
 }
 .strip{
  width:5rem;
    height:30rem;
    animation: stripp 6s infinite ease-in-out alternate-reverse ;
 }
 @keyframes stripp {
   from{
    height:0rem
   }
   to{
    height:30rem;
   }
 }
 


